/*MENU AMARILLO*/
.Iniciar-entrenamiento{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.informacion-pre-entreno {
    width: 300px;
    height: 150px;
    background-color: #F3F824;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
}

.informacion-pre-entreno div{
    width: 80%;
    height: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.informacion-pre-entreno div p{
    margin-left: 10px;
}

.informacion-pre-entreno #input-min{
   margin-left: 43px;
}

.informacion-pre-entreno div input{
    width: 50px;
    font-size: 18px;
    background: #000;
    color: #fff;
    margin-left: 70px;
}

/*BOTON ROJO - EMPEZAR*/

.container-empezar{
    width: 300px;
    height: 250px;
    background-color: #ff3131;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-empezar div{
    display: flex;
    width: 280px;
    height: 230px;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}


.container-empezar div h1{
    margin: auto;
}